.service{
    border: 1px solid ;
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px 8px 10px #888888;
    box-sizing: border-box;
    align-items: center;
    padding-left: 30px;

    
}